@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/******************/
/*     navbar     */
/******************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #24252A
}
li,a,button {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}
header {
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 30px 10%;
}
.logo {
    cursor: pointer;
    color: #0088A9;
    margin-top: 50px;
    animation: logo-animation 0.8s ease-out;
}
.navbar {
    list-style: none;
    border-left: solid 2px #0088A9;
    border-right: solid 2px #0088A9
}

.navbar li {
    display: inline-block;
    padding: 0px 10px;
}
.navbar li a {
    transition : all 0.3s ease 0s;
}
.navbar li a:hover {
    color: #0088A9
}

button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 0px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color: rgba(0,136,169,0.8);
    
}
.item-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
/******************/
/*   Page profil  */
/******************/

.div-profil {
    border: solid 0px rgb(255, 50, 50);
    margin: 10px;
}
.div-profil h1 {
    color: black;
}
.div-profil h1::after {
    content: "➖";
}
.div-profil h1::before {
    content: "➖";
}

/******************/
/*   Keyframes  */
/******************/

@keyframes logo-animation
{
    0%{
        transform: translateX(-20px);
    }
    100%{
        transform: translateX(0px);
    }
}