/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --white-color: #fff;
  --purple-color: #6826e3;
  --grey-color: #707070;
  --black-color-light: #181824;
  --highlight: rgba(104, 38, 227, 0.8);

  --sidebar-size: 15%;
  --sidebar-size2: 20%
}
body {
  background-color: #D0E8F6;
  transition: all 0.5s ease;
}
body.dark {
  background-color: #666;
}
body.dark {
  --white-color: #333;
  --purple-color: #D0E8F6;
  --grey-color: #f2f2f2;
  --black-color-light: #aaa;
}

.container {
  position: relative;
  /* max-height: 1000px; */
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
/* navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 12%;
  left: 0;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  z-index: 1000;
  box-shadow: 0 0 2px var(--black-color-light);
}
.logo_item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
  color: var(--purple-color);
}
.navbar img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.search_bar {
  height: 47px;
  max-width: 430px;
  width: 100%;
}
.search_bar input {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  font-size: 18px;
  outline: none;
  background-color: var(--white-color);
  color: var(--grey-color);
  border: 1px solid var(--black-color-light);
  padding: 0 20px;
}
.navbar_content {
  display: flex;
  align-items: center;
  column-gap: 25px;
}
.navbar_content i {
  cursor: pointer;
  font-size: 20px;
  color: var(--grey-color);
}

/* sidebar */
.sidebar {
  background-color: var(--white-color);
  width: var(--sidebar-size2);
  top: 0;
  left: 0;
  height: 100%;
  padding: 80px 20px;
  z-index: 100;
  overflow-y: scroll;
  box-shadow: 0 0 1px var(--black-color-light);
  transition: all 0.5s ease;
}
.sidebar.close {
  padding: 60px 0;
  width: 80px;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.menu_content {
  position: relative;
}
.menu_title {
  margin: 15px 0;
  padding: 0 20px;
  font-size: 18px;
}
.sidebar.close .menu_title {
  padding: 6px 30px;
}
.menu_title::before {
  color: var(--grey-color);
  white-space: nowrap;
}
.menu_dashboard::before {
  content: "Dashboard";
}
.menu_formation::before {
  content: "Formation";
}
.menu_autre::before {
  content: "Autre";
}
.menu_setting::before {
    content: "Settings";
}
.sidebar.close .menu_title::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 18px;
  border-radius: 12px;
  background: var(--black-color-light);
}
.menu_items {
  padding: 0;
  list-style: none;
}
.navlink_icon {
  position: relative;
  font-size: 22px;
  min-width: 50px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
}
.navlink_icon::before {
  content: "";
  position: absolute;
  height: 100%;
  width: calc(100% + 100px);
  left: -20px;
}
.navlink_icon:hover {
  background: var(--purple-color);
}
.sidebar .nav_link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px 15px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--grey-color);
  white-space: nowrap;
}
.sidebar.close .navlink {
  display: none;
}
.nav_link:hover {
  color: var(--white-color);
  background: var(--purple-color);
}
.sidebar.close .nav_link:hover {
  background: var(--white-color);
}
.submenu_item {
  cursor: pointer;
}
.submenu {
  display: none;
}
.submenu_item .arrow-left {
  position: absolute;
  right: 10px;
  display: inline-block;
  margin-right: auto;
}
.sidebar.close .submenu {
  display: none;
}
.show_submenu ~ .submenu {
  display: block;
}
.show_submenu .arrow-left {
  transform: rotate(90deg);
}
.submenu .sublink {
  padding: 15px 15px 15px 52px;
}
.bottom_content {
  bottom: 60px;
  left: 0;
  width: var(--sidebar-size2);
  cursor: pointer;
  transition: all 0.5s ease;
}
.bottom {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  justify-content: space-around;
  padding: 18px 0;
  text-align: center;
  width: 100%;
  color: var(--grey-color);
  border-top: 1px solid var(--black-color-light);
  background-color: var(--white-color);
}
.bottom i {
  font-size: 20px;
}
.bottom span {
  font-size: 18px;
}
.sidebar.close .bottom_content {
  width: 50px;
  left: 15px;
}
.sidebar.close .bottom span {
  display: none;
}
.sidebar.hoverable .collapse_sidebar {
  display: none;
}
#sidebarOpen {
  display: none;
}

/* Main content */
.main_content, .sidebar {
  float: left;
}

.main_content {
  height: 100%;
  width: 80%;
  padding-top: 8%;
  /* border: solid 2px red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow-y: scroll;
}

/* Contenu index */
section.index-page {
  flex-basis: 50%;
  margin: 100px 200px;
  text-align: center;
}
section.index-page h1 {
  color: var(--purple-color);
  text-shadow: 0 0 5px var(--highlight);
  text-align: center;
  font-size: 50px;
}
section.index-page h2 {
  color: var(--grey-color);
  text-align: center;
  font-size: 24px;
  line-height: 25px;
  margin: 1rem;
}
section.index-page p {
  color: var(--grey-color);
  text-align: justify;
  margin: 1rem;
}
section.index-page button {
  width: 180px;
  color: var(--white-color);
  border: solid 2px var(--black-color-light);
  font-size: 16px;
  padding: 12px 0;
  background: var(--purple-color);
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
}
section.index-page button:hover {
  animation: pulse-border 1s linear infinite;
}
section.index-page button:hover {
  cursor: pointer;
}
.highlight {
  color: var(--highlight);
}

/* Contenu profil */
section.profil-page {
  font-size: 8px;
}
.card {
  width: 600px;
  background-color: var(--white-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(24, 24, 36, 0.6);
  margin-bottom: 10px;
  overflow: hidden;
  display: flex; /* Utilisation de flexbox */
  align-items: center; /* Centrage vertical */
}
.card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 10px; /* Ajout d'une marge horizontale pour l'image */
}
.card-content-profile {
  flex: 1; /* Permet au contenu de prendre l'espace restant */
  padding: 20px;
}
.card2 .card-content-profile, .card3 .card-content-profile, .card4 .card-content-profile {
  text-align: center;
}
.card .card-content-profile span {
  font-weight: bold;
}
span.border{
  border: solid 1px var(--black-color-light);
  height: 100px;
}
.card h2 {
  margin-top: 0;
}
.card .card-content-profile ul li {
  list-style-type: "➜";
}
.card .card-content-profile ul li.list-style-none{
  margin-bottom: 2px;
  list-style-type: none;
}
.card a {
  display: inline-block;
  padding: 8px 12px;
  background: var(--purple-color);
  color: var(--white-color);
  text-decoration: none;
  border-radius: 4px;
  margin-top: 10px
}
/* Contenu BTS SIO */
section.btssio-page {
  font-size: 8px;
  width: 55%;
}
.card-bts {
  background-color: var(--white-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(24, 24, 36, 0.6);
  margin-bottom: 10px;
  overflow: hidden;
  /* display: flex; 
  align-items: center; 
  text-align: justify; */
}

.card-content-bts {
  text-align: center;
  padding: 20px;
  /* border: solid 2px red; */
}

.card-bts h2 {
  margin-bottom: 10px;
  text-align: center;
}

.card-bts p {
  margin-bottom: 10px;
}

.card-bts ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.card-bts li {
  margin-bottom: 5px;
  list-style-type: "➜";
}
.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Deux colonnes pour les cards d'options */
  gap: 20px; /* Espacement entre les cards */
}

/* Contenu Ecole */
section.ecole-page {
  font-size: 8px;
}
.content-ecole {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.content-ecole .box-ecole {
  background-color: var(--white-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(24, 24, 36, 0.2);
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.content-ecole .projects-box {
  flex-basis: 100%;
}

.content-ecole .documentation-box,
.content-ecole .workshops-box {
  flex-basis: calc(50% - 10px);
}

.content-ecole .documentation-box {
  margin-right: 10px;
}

.content-ecole .box-ecole h2 {
  margin-top: 0;
}

.content-ecole .project-list,
.content-ecole .document-list,
.content-ecole .workshop-list {
  margin-top: 10px;
  column-count: 2;
  column-gap: 20px;
}

.content-ecole .project,
.content-ecole .document,
.content-ecole .workshop {
  margin-bottom: 5px;
}

.content-ecole a {
  display: block;
  padding: 8px 12px;
  background: var(--purple-color);
  color: var(--white-color);
  text-decoration: none;
  border-radius: 4px;
}

/* Contenu entreprise */
section.entreprise-page {
  font-size: 8px;
}
/* Styles pour la card d'entreprise */
section.entreprise-page .entreprise {
  margin-bottom: 20px;
}
section.entreprise-page ul li {
  list-style-type: "➜";
}
section.entreprise-page .entreprise-titre {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
section.entreprise-page .card-wrapper {
  display: flex;
  justify-content: center;
  text-align: justify;
  flex-wrap: wrap;
}
section.entreprise-page .card-wrapper h2 {
  text-align: center;
  margin-bottom: 10px;
}
section.entreprise-page .card-entreprise {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
  padding: 20px;
  flex-basis: calc(40% - 10px);
  margin-right: 10px;
}
/* section.entreprise-page .entreprise-informations {
 
}
section.entreprise-page .entreprise-description {

}
section.entreprise-page .entreprise-projets {
 
} */
section.entreprise-page .projets-liste {
  display: flex;
  flex-direction: column;
}
section.entreprise-page .entreprise-projets a{
  display: block;
  padding: 8px 12px;
  background: var(--purple-color);
  color: var(--white-color);
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
}
section.entreprise-page .projet {
  margin-bottom: 5px;
}
/* .entreprise-competences {
  
} */

/* Veilles techno */
section.veille-page {
  font-size: 8px;
}
section.veille-page .card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  padding: 20px;
  margin-bottom: 20px;
  display: grid;
  justify-content: center;
}
section.veille-page .card-title {
  font-size: 20px;
  margin-bottom: 10px;
}
section.veille-page .card-preview {
  display: flex;
  align-items: center;
}
section.veille-page .card-preview img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 10px;
}

/* Media & keyframe */
@media (max-width: 768px) {
  /* Pour les écrans plus petits, comme les appareils mobiles */
  .card-container {
    grid-template-columns: 1fr; /* Une seule colonne */
  }
}
@media screen and (max-width: 768px) {
  #sidebarOpen {
    font-size: 25px;
    display: block;
    margin-right: 10px;
    cursor: pointer;
    color: var(--grey-color);
  }assets/style/style.css
  .sidebar.close {
    left: -100%;
  }
  .search_bar {
    display: none;
  }
  .sidebar.close .bottom_content {
    left: -100%;
  }
}

@media screen and (max-height: 1920px) {
  .sidebar, .bottom_content {
    font-size: 16px;
    width: var(--sidebar-size);
    height: auto;
  }
  .sidebar {
    margin-top: 70px;
  }
  .bottom_content {
    margin-top: 30px;
  }
  section.index-page,
  section.profil-page, 
  section.entreprise-page, 
  section.ecole-page,
  section.btssio-page,
  section.veille-page  {
    font-size: 14px;
  }
}
/* Button animation */
.glow-on-hover {
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 5px;
}
.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}
.glow-on-hover:active {
  color: #000
}
.glow-on-hover:active:after {
  background: transparent;
}
.glow-on-hover:hover:before {
  opacity: 1;
}
.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--purple-color);
  left: 0;
  top: 0;
  border-radius: 10px;
}
@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

/* Easter eggs */
/* Définissez l'animation de secousse */
@keyframes shake {
  0% { transform: translate(0, 0); }
  10%, 30%, 50%, 70%, 90% { transform: translate(-5px, 5px); color: brown; }
  20%, 40%, 60%, 80% { transform: translate(5px, -5px); color: black;}
  100% { transform: translate(0, 0); }
}

/* Appliquez l'animation de secousse aux éléments */
.shake-animation {
  animation: shake 1s linear;
}


.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  display: none;
  justify-content: center;
  align-items: center;
}

.popup-content {
  position: relative;
  background-color: #fff;
  padding: 20px;
}

#imageSlider {
  width: 100%;
  height: 400px;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#closePopupButton {
  position: absolute;
  top: 10px;
  right: 10px;
}
