/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --white-color: #fff;
  --purple-color: #6826e3;
  --grey-color: #707070;
  --black-color-light: #181824;
  --highlight: rgba(104, 38, 227, 0.8);

  --sidebar-size: 15%;
  --sidebar-size2: 20%
}
body {
  background-color: #D0E8F6;
  transition: all 0.5s ease;
}
body.dark {
  background-color: #666;
}
body.dark {
  --white-color: #333;
  --purple-color: #D0E8F6;
  --grey-color: #f2f2f2;
  --black-color-light: #aaa;
}

.container {
  position: relative;
  /* max-height: 1000px; */
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
/* navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  z-index: 1000;
  box-shadow: 0 0 2px var(--black-color-light);
}
.logo_item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
  color: var(--purple-color);
}
.navbar img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.search_bar {
  height: 47px;
  max-width: 430px;
  width: 100%;
}
.search_bar input {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  font-size: 18px;
  outline: none;
  background-color: var(--white-color);
  color: var(--grey-color);
  border: 1px solid var(--black-color-light);
  padding: 0 20px;
}
.navbar_content {
  display: flex;
  align-items: center;
  column-gap: 25px;
}
.navbar_content i {
  cursor: pointer;
  font-size: 20px;
  color: var(--grey-color);
}

/* sidebar */
.sidebar {
  background-color: var(--white-color);
  width: var(--sidebar-size2);
  top: 0;
  left: 0;
  height: 100%;
  padding: 80px 20px;
  z-index: 100;
  overflow-y: scroll;
  box-shadow: 0 0 1px var(--black-color-light);
  transition: all 0.5s ease;
}
.sidebar.close {
  padding: 60px 0;
  width: 80px;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.menu_content {
  position: relative;
}
.menu_title {
  margin: 15px 0;
  padding: 0 20px;
  font-size: 18px;
}
.sidebar.close .menu_title {
  padding: 6px 30px;
}
.menu_title::before {
  color: var(--grey-color);
  white-space: nowrap;
}
.menu_dashboard::before {
  content: "Dashboard";
}
.menu_formation::before {
  content: "Formation";
}
.menu_autre::before {
  content: "Autre";
}
.menu_setting::before {
    content: "Settings";
}
.sidebar.close .menu_title::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 18px;
  border-radius: 12px;
  background: var(--black-color-light);
}
.menu_items {
  padding: 0;
  list-style: none;
}
.navlink_icon {
  position: relative;
  font-size: 22px;
  min-width: 50px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
}
.navlink_icon::before {
  content: "";
  position: absolute;
  height: 100%;
  width: calc(100% + 100px);
  left: -20px;
}
.navlink_icon:hover {
  background: var(--purple-color);
}
.sidebar .nav_link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px 15px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--grey-color);
  white-space: nowrap;
}
.sidebar.close .navlink {
  display: none;
}
.nav_link:hover {
  color: var(--white-color);
  background: var(--purple-color);
}
.sidebar.close .nav_link:hover {
  background: var(--white-color);
}
.submenu_item {
  cursor: pointer;
}
.submenu {
  display: none;
}
.submenu_item .arrow-left {
  position: absolute;
  right: 10px;
  display: inline-block;
  margin-right: auto;
}
.sidebar.close .submenu {
  display: none;
}
.show_submenu ~ .submenu {
  display: block;
}
.show_submenu .arrow-left {
  transform: rotate(90deg);
}
.submenu .sublink {
  padding: 15px 15px 15px 52px;
}
.bottom_content {
  bottom: 60px;
  left: 0;
  width: var(--sidebar-size2);
  cursor: pointer;
  transition: all 0.5s ease;
}
.bottom {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  justify-content: space-around;
  padding: 18px 0;
  text-align: center;
  width: 100%;
  color: var(--grey-color);
  border-top: 1px solid var(--black-color-light);
  background-color: var(--white-color);
}
.bottom i {
  font-size: 20px;
}
.bottom span {
  font-size: 18px;
}
.sidebar.close .bottom_content {
  width: 50px;
  left: 15px;
}
.sidebar.close .bottom span {
  display: none;
}
.sidebar.hoverable .collapse_sidebar {
  display: none;
}
#sidebarOpen {
  display: none;
}
@media screen and (max-width: 768px) {
  #sidebarOpen {
    font-size: 25px;
    display: block;
    margin-right: 10px;
    cursor: pointer;
    color: var(--grey-color);
  }
  .sidebar.close {
    left: -100%;
  }
  .search_bar {
    display: none;
  }
  .sidebar.close .bottom_content {
    left: -100%;
  }
}
@media screen and (max-width: 1080px) {
  .sidebar, .bottom_content {
    width: var(--sidebar-size);
  }
}
.main_content, .sidebar {
  float: left;
}
.main_content {
  height: 100%;
  width: 80%;
  /* border: solid 2px red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
section.index-page {
  flex-basis: 50%;
  margin: 100px 200px;
  text-align: center;
}
section.index-page h1 {
  color: var(--purple-color);
  text-shadow: 0 0 5px var(--highlight);
  text-align: center;
  font-size: 50px;
}
section.index-page h2 {
  color: var(--grey-color);
  text-align: center;
  font-size: 24px;
  line-height: 25px;
  margin: 1rem;
}
section.index-page p {
  color: var(--grey-color);
  text-align: justify;
  margin: 1rem;
}
section.index-page button {
  width: 180px;
  color: var(--white-color);
  border: solid 2px var(--black-color-light);
  font-size: 16px;
  padding: 12px 0;
  background: var(--purple-color);
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
}
#socialMenu {
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
}
#socialMenu.show {
  display: block;
}
#socialMenu li {
  margin-bottom: 10px;
}
#socialMenu li:last-child {
  margin-bottom: 0;
}
#socialMenu a {
  color: #6826e3;
  text-decoration: none;
}
#socialMenu a:hover {
  color: #8a57f7;
}

section.index-page button:hover {
  cursor: pointer;
}

.highlight {
  color: var(--highlight);
}
@keyframes pulse-border {
  0% {
    transform: scale(1);
    border: solid 2px #9c9cba;
  }
  50% {
    transform: scale(1.1);
    border: solid 2px #4f4f75;
  }
  100% {
    transform: scale(1);
    border: solid 2px #21214d;
  }
}
/* Easter eggs */
/* Définissez l'animation de secousse */
@keyframes shake {
  0% { transform: translate(0, 0); }
  10%, 30%, 50%, 70%, 90% { transform: translate(-5px, 5px); }
  20%, 40%, 60%, 80% { transform: translate(5px, -5px); }
  100% { transform: translate(0, 0); }
}

/* Appliquez l'animation de secousse aux éléments */
.shake-animation {
  animation: shake 0.5s linear;
}